*{
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.p1{
    background-color:#1F2937;
    color:aliceblue;
    height: 4rem;
    line-height: 4rem;
    font-family: serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54vh;
    width: 54vh;
    flex-wrap: wrap;
}
.square{
    height: 16vh;
    width: 16vh;
    border-radius: 8px;
    margin: 1vh;
    border: 2px solid #1F2937;
    font-size: 5vh;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    background-color: skyblue;
    color: black;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 7vh;
    width: 54vh;
    margin-top: 20px;
}
#reset{
    width: 25vh;
    height: 100%;
    border: 2px solid #1F2937;
    font-size: 3vh;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    background-color: skyblue;
    color: black;
    border-radius: 8px;
}